{% extends 'dashboard.html' %}


{% block content %}
    <div class="static-table-area mg-t-15" style="margin-top: 100px;">
        <div class="container-fluid">
            <div class="row" style="color: #fff;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="sparkline8-list">

                        <div class="product-status-wrap">
                            {% csrf_token %}
                            <input type="hidden" id="org_id" value="{{ org_id }}">
                            <div class="filters">
                                <div class="chosen-select-single mg-b-20 form-group">
                                    <label>User Type</label>
                                    <select class="select2_demo_3 form-control" name="option" id="option_type">
                                        <option disabled selected>Select</option>
                                        <option value="0">Staff</option>
                                        <option value="1">Candidates</option>
                                        <option value="2">All</option>
                                    </select>
                                </div>
                                <div class="chosen-select-single mg-b-20 form-group">
                                    <label>Basic Select</label>
                                    <select class="select2_demo_3 form-control" name="option" id="option">
                                        <option>Select</option>
                                        <option value="0">Staff</option>
                                        <option value="1">Candidates</option>
                                    </select>
                                </div>
                                <div class="chosen-select-single mg-b-20 form-group">
                                    <label>Basic Select</label>
                                    <select class="select2_demo_3 form-control" name="option" id="option">
                                        <option disabled="disabled">Select</option>
                                        <option value="0">Staff</option>
                                        <option value="1">Candidates</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        {#                        <div class="sparkline8-graph">#}
                        <div class="static-table-list" id="full_table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Type</th>
                                </tr>
                                </thead>
                                <tbody id="table_content">
                                {% for user in user_list %}

                                    <tr id="{{ user.id }}" class="table-row">
                                        <td>{{ user.count }}</td>
                                        <td>{{ user.name }}</td>
                                        <td><img src="{{ user.image_url }}" id="table-image"/></td>
                                        <td>{{ user.privilege }}</td>
                                        {#                                    <td>@Facebook</td>#}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="charts-single-pro responsive-mg-b-30">
                        <div class="" style="color:#fff !important; ">
                            <div class="filters">
                                <input type="hidden" id="user_id">
                                <h4 id="analytic_head"> User Analytics</h4>
                                <div class="chosen-select-single mg-b-20 form-group">
                                    {#                                    <label>User Type</label>#}
                                    <select class="select2_demo_3 form-control options" name="option" id="option_camera">
                                        <option disabled selected>Select</option>
                                        <option value="All cameras">All cameras</option>
                                        {% for camera in camera_list %}
                                            <option value="{{ camera }}">{{ camera }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="chosen-select-single mg-b-20 form-group">
                                    {#                                    <label>User Type</label>#}
                                    <select class="select2_demo_3 form-control options" name="option" id="option_time">
                                        <option disabled selected>Select</option>
                                        <option value="month">Last 6 months</option>
                                        <option value="day">Last 7 days</option>
                                        <option value="hour">Last 8 hours</option>
                                    </select>
                                </div>
                                a
                            </div>
                        </div>
                        <h3 class="no-content" id="no_content">No Available Data</h3>
                        <div id="basic-chart">
                            <canvas id="basiclinechart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/fetch/Analytics.js"></script>
{% endblock %}