{% extends 'dashboard.html' %}

{% block content %}
    <div class="password-meter-area mg-tb-15" style="margin-top: 100px">
        <div class="container-fluid">

            <div class="row">
                <div style="display: flex;justify-content: center">
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

                        {% if status is not None %}
                            <div class="alert alert-success alert-dismissible fade  fadeIn animated"
                                 role="alert"
                                 style="display: block" id="alert">
                                <strong id="warning_text">User information saved successfully</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% else %}
                            <div class="alert alert-danger alert-dismissible fade  fadeIn animated"
                                 role="alert"
                                 style="display: none" id="alert">
                                <strong id="warning_text">User information saved successfully</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}


                        <div class="sparkline12-list responsive-mg-b-30" id="div1">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd" style="text-align: center;margin-bottom: 30px;">
                                    <h1>Overall Analytics <span class="password-mt-none"></span></h1>
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <form id="search_form" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ org_id }}" id="org_id" name="org_id">
                                    <div id="pwd-container1" style="display: flex">
                                        {#                                        <div class="row">#}
                                        <div class="chosen-select-single mg-b-20 form-group"
                                             style="flex: 1;margin-right: 20px">
                                            <label>From Date</label>
                                            <input type="date" class="form-control" id="from_date">

                                        </div>
                                        <div class="chosen-select-single mg-b-20 form-group" style="flex: 1">
                                            <label>To date</label>
                                            <input type="date" class="form-control" id="to_date">
                                        </div>
                                        {#                                        </div>#}

                                    </div>
                                    <button class="btn btn-outline-light" type="submit" id="search_bt">Search
                                        <i class="fas fa-search"></i></button>
                                </form>
                                {#                                  <img src="{{ pic.url }}">#}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
