{% extends 'dashboard.html' %}

{% block content %}
    <div class="password-meter-area mg-tb-15" style="margin-top: 100px">
        <div class="container-fluid">

            <div class="row">
                <div style="display: flex;justify-content: center">
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

                        {% if status is not None %}
                            <div class="alert alert-success alert-dismissible fade  fadeIn animated"
                                 role="alert"
                                 style="display: block" id="alert">
                                <strong id="warning_text">User information saved successfully</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% else %}
                            <div class="alert alert-danger alert-dismissible fade  fadeIn animated"
                                 role="alert"
                                 style="display: none" id="alert">
                                <strong id="warning_text">User information saved successfully</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}


                        <div class="sparkline12-list responsive-mg-b-30" id="div1">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd" style="text-align: center;margin-bottom: 30px;">
                                    <h1>Overall Analytics <span class="password-mt-none"></span></h1>
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <form id="search_form" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ org_id }}" id="org_id" name="org_id">
                                    <div id="pwd-container1" style="display: flex">
                                        {#                                        <div class="row">#}
                                        <div class="chosen-select-single mg-b-20 form-group"
                                             style="flex: 1;margin-right: 20px">
                                            <label>From Date</label>
                                            <input type="date" class="form-control" id="from_date">

                                        </div>
                                        <div class="chosen-select-single mg-b-20 form-group" style="flex: 1">
                                            <label>To date</label>
                                            <input type="date" class="form-control" id="to_date">
                                        </div>
                                        {#                                        </div>#}

                                    </div>
                                    <button class="btn btn-outline-light" type="submit" id="search_bt">Search
                                        <i class="fas fa-search"></i></button>
                                </form>
                                {#                                  <img src="{{ pic.url }}">#}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="static-table-area mg-t-15" style="margin-top: 50px;display:none;" id="full_content">
        <div class="container-fluid">
            <div class="row" style="color: #fff;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="sparkline8-list">

                        <div class="product-status-wrap">
                            {% csrf_token %}
                            <input type="hidden" id="org_id" value="{{ org_id }}">
                            <div class="filters">
                                <div class="chosen-select-single mg-b-20 form-group">
                                    <label>User Type</label>
                                    <select class="select2_demo_3 form-control" name="option" id="option_type">
                                        <option disabled selected>Select</option>
                                        <option value="0">Staff</option>
                                        <option value="1">Candidates</option>
                                        <option value="2">All</option>
                                    </select>
                                </div>
                                <div class="chosen-select-single mg-b-20 form-group">
                                    <label>Basic Select</label>
                                    <select class="select2_demo_3 form-control" name="option" id="option">
                                        <option>Select</option>
                                        <option value="0">Staff</option>
                                        <option value="1">Candidates</option>
                                    </select>
                                </div>
                                <div class="chosen-select-single mg-b-20 form-group">
                                    <label>Basic Select</label>
                                    <select class="select2_demo_3 form-control" name="option" id="option">
                                        <option disabled="disabled">Select</option>
                                        <option value="0">Staff</option>
                                        <option value="1">Candidates</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        {#                        <div class="sparkline8-graph">#}
                        <div class="static-table-list" id="full_table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Type</th>
                                    <th>count</th>
                                </tr>
                                </thead>
                                <tbody id="table_content">
{#                                {% for user in user_list %}#}
{##}
{#                                    <tr id="{{ user.id }}" class="table-row">#}
{#                                        <td>{{ user.count }}</td>#}
{#                                        <td>{{ user.name }}</td>#}
{#                                        <td><img src="{{ user.image_url }}" id="table-image"/></td>#}
{#                                        <td>{{ user.privilege }}</td>#}
                                        {#                                    <td>@Facebook</td>#}
{#                                    </tr>#}
{#                                {% endfor %}#}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="charts-single-pro responsive-mg-b-30">
                        <div class="" style="color:#fff !important; ">
                            <div class="filters">
                                <input type="hidden" id="user_id">
                                <h4 id="analytic_head"> User Analytics</h4>
                                <div class="chosen-select-single mg-b-20 form-group">
{#                                    <label>User Type</label>#}
                                    <select class="select2_demo_3 form-control" name="option" id="option_camera">
                                        <option disabled selected>Select</option>
                                        {% for camera in camera_list %}
                                            <option value="{{ camera }}">{{ camera }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
{#                        <h3  class="no-content" id="no_content">No Available Data</h3>#}
                        <div id="basic-chart">
                                <canvas id="basiclinechart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/fetch/OverallAnalytics.js"></script>
{% endblock %}
